* {
  font-family: Consolas, monaco, monospace;
  color: #535657;
}

body,
h1,
h2,
html,
p {
  margin: 0;
}

body,
html {
  height: 100%;
}

html {
  background-color: #4f646f;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  width: 66%;
  align-items: center;
}

#content {
  background-color: #f4faff;
  display: flex;
  flex-direction: row;
  border: solid #b7adcf 0.2rem;
  border-radius: 0.33rem;
  width: 100%;
  flex: auto;
}

#body-left,
#body-right {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  padding: 1rem;
  border: solid #dee7e7 0.175rem;
}

#body-left {
  width: 25%;
}

#body-right {
  width: 75%;
}

#body-right-top {
  display: flex;
}

.download-button {
  margin-left: auto;
  align-self: center;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

h1,
h2 {
  color: #f4faff;
  font-family: "Roboto Mono", monospace;
  padding: 1rem 0;
  width: 50%;
  overflow: hidden;
  justify-content: center;
}

h1 {
  text-align: start;
}

h2 {
  font-size: 0.95rem;
  text-align: end;
  display: inline-block;
  vertical-align: center;
  line-height: normal;
}

p {
  flex: auto;
}

canvas {
  background-color: white;
  border: 0.125rem solid #dee7e7;
  margin-bottom: 0.5rem;
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  color: #dee7e7;
  padding: 0.5rem;
}

a {
  color: #dee7e7;
}
